body {
	font-family: sans-serif;
	background-color: white;
  }
  
  header {
	padding: 50px;
	color: hsl(206, 17%, 28%);
	font-weight: bolder;
	font-size: 64px;
  }

  .question {
	padding: 50px;
	font-size: 45px;
  }
  
  /*buttons css code*/
  .buttons{
	margin: 10px;
	size: 10%;
	border: 10px;
	background-color: lightgrey;
	color: white;
	padding: 32px;
	display: inline-block;
	font-size: 30px;
	border-radius: 10px;
	border-style: solid;
	border: 10px;
	border: black;
  }

  .inputBar{
	height: 20px;
	size: 50
  }

  .no{
	list-style:none;
	text-align: left;
	font-size: 36px;
	
  }
  .time{
	text-align: right;
	display: static;
  }

  .start{
	font-size: 20px;
	background-color: blue;
	border: solid;
	border-color: black;
	border-radius: 10px;
	padding: 20px;
	margin: 30px;
  }